In [1]:
# Disable Cache
import os, sys
sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"
os.environ["NUMBA_DEBUG_CACHE"] = "1"
os.environ["NUMBA_DEBUGINFO"] = "1"

In [2]:
import quantfreedom as qf
import pandas as pd
from quantfreedom.backtester.nb.simulate import simulate_from_signals
from quantfreedom.backtester.base.base import rsi_below_entries
from quantfreedom.backtester.enums.enums import (
    LeverageMode, 
    SizeType,
    OrderType,
    )
prices = pd.read_csv('30min.csv', index_col='time')
entries = rsi_below_entries(
    timeperiods=[20],
    below_ranges=[50],
    prices=prices.close
)

In [3]:
df, order_rec, cart = simulate_from_signals(
    open_prices=prices.open.values,
    high_prices=prices.high.values,
    low_prices=prices.low.values,
    close_prices=prices.close.values,
    entries=entries.values,
    equity=1000.,
    fee_pct=.06,
    mmr=.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=3.,
    risk_rewards=2,
    size_pct=1.,
    sl_pcts=1.,
)

In [4]:
pd.DataFrame(df)

Empty DataFrame
Columns: [or_set, ind_set, total_trades, total_BE, gains_pct, win_rate, to_the_upside, total_fees, total_pnl, ending_eq, sl_pct, rr, max_eq_risk_pct]
Index: []

In [5]:
pd.DataFrame(order_rec)

,avg_entry,bar,equity,fees_paid,ind_set,or_set,order_id,order_type,price,real_pnl,size_value,sl_prices,tp_prices,tsl_prices
0,10850.000000,31,1000.0,0.0,0,0,0,0.0,10850.0,NaN,893.335716,10741.500000,11106.083450,NaN
1,10787.137891,32,1000.0,0.0,0,0,1,0.0,10725.0,NaN,893.335716,10679.266512,11041.737660,NaN
2,10716.341351,33,1000.0,0.0,0,0,2,0.0,10577.5,NaN,893.335716,10609.177938,10969.270168,NaN
3,10716.341351,34,1000.0,0.0,0,0,3,0.0,10523.0,NaN,0.000000,10609.177938,10969.270168,NaN

In [6]:
pd.DataFrame(cart)

,leverage,max_equity_risk_pct,max_equity_risk_value,risk_rewards,size_pct,size_value,sl_pcts,sl_prices,sl_to_be,sl_to_be_based_on,...,sl_to_be_when_pct_from_avg_entry,sl_to_be_zero_or_entry,tp_pcts,tp_prices,tsl_based_on,tsl_pcts,tsl_prices,tsl_trail_by,tsl_true_or_false,tsl_when_pct_from_avg_entry
0,NaN,0.03,NaN,2.0,0.01,NaN,0.01,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN