In [41]:
# Disable Cache
import os, sys
sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"
os.environ["NUMBA_DEBUGINFO"] = "1"
os.environ["NUMBA_DEBUG"] = "1"
os.environ["NUMBA_DEVELOPER_MODE"] = "1"
os.environ["NUMBA_SHOW_HELP"] = "1"

import quantfreedom as qf
import pandas as pd
from numba import literal_unroll, njit
from quantfreedom.backtester.nb.simulate import simulate_from_signals
from quantfreedom.backtester.base.base import rsi_below_entries
from quantfreedom.backtester.enums.enums import (
    LeverageMode, 
    SizeType,
    OrderType,
    SL_BE_or_Trail_BasedOn,
    )
# qf.clear_cache()

prices = pd.read_csv('30min.csv', index_col='time')
entries = rsi_below_entries(
    timeperiods=[20],
    below_ranges=[50],
    prices=prices.close
)

In [42]:
df, order_rec, cart = simulate_from_signals(
    open_prices=prices.open.values,
    high_prices=prices.high.values,
    low_prices=prices.low.values,
    close_prices=prices.close.values,
    entries=entries.values,
    equity=1000.,
    fee_pct=.06,
    mmr=.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=3.,
    risk_rewards=[4],
    size_pct=1.,
    sl_pcts=[2],
    # gains_pct_filter=100,
    sl_to_be=True,
    sl_to_be_based_on=SL_BE_or_Trail_BasedOn.high_price,
    sl_to_be_zero_or_entry=0,
    sl_to_be_when_pct_from_avg_entry=3,
)

In [43]:
pd.DataFrame(df)

,or_set,ind_set,total_trades,total_BE,gains_pct,win_rate,to_the_upside,total_fees,total_pnl,ending_eq
0,0,0,145.0,0,68.080581,20.0,0.025275,NaN,680.8065,1680.805812

In [44]:
pd.DataFrame(order_rec).head(50)

,avg_entry,bar,equity,fees_paid,ind_set,or_set,order_id,order_type,price,real_pnl,size_value,sl_prices,tp_prices,tsl_prices
0,10850.000000,31,1000.000000,NaN,0,0,0,0.0,10850.000000,NaN,471.965263,10633.000000,11783.139083,NaN
1,10787.137891,32,1000.000000,NaN,0,0,1,0.0,10725.000000,NaN,471.965263,10571.395133,11714.870607,NaN
2,10787.137891,32,980.000000,1.121389,0,0,2,4.0,10571.395133,-20.0000,943.930527,10571.395133,11714.870607,NaN
3,10577.500000,33,980.000000,NaN,0,0,3,0.0,10577.500000,NaN,462.525958,10365.950000,11487.203102,NaN
4,10550.179617,34,980.000000,NaN,0,0,4,0.0,10523.000000,NaN,462.525958,10339.176024,11457.533067,NaN
5,10538.761751,35,980.000000,NaN,0,0,5,0.0,10516.000000,NaN,462.525958,10327.986516,11445.133223,NaN
6,10538.761751,436,1097.600000,1.736695,0,0,6,5.0,11445.133223,117.6000,1387.577874,10327.986516,11445.133223,NaN
7,11356.000000,478,1097.600000,NaN,0,0,7,0.0,11356.000000,NaN,518.029073,11128.880000,12332.656906,NaN
8,11334.208263,479,1097.600000,NaN,0,0,8,0.0,11312.500000,NaN,518.029073,11107.524097,12308.991001,NaN
9,11323.953653,480,1097.600000,NaN,0,0,9,0.0,11303.500000,NaN,518.029073,11097.474580,12297.854458,NaN
10,11323.953653,983,1229.312000,1.945099,0,0,10,5.0,12297.854458,131.7120,1554.087219,11097.474580,12297.854458,NaN
11,12986.500000,1056,1229.312000,NaN,0,0,11,0.0,12986.500000,NaN,580.192562,12726.770000,14103.385779,NaN
12,12954.923408,1057,1229.312000,NaN,0,0,12,0.0,12923.500000,NaN,580.192562,12695.824940,14069.093487,NaN
13,12944.766370,1058,1229.312000,NaN,0,0,13,0.0,12924.500000,NaN,580.192562,12685.871043,14058.062907,NaN
14,12944.766370,1460,1376.829440,2.178511,0,0,14,5.0,14058.062907,147.5174,1740.577685,12685.871043,14058.062907,NaN
15,13826.500000,1489,1376.829440,NaN,0,0,15,0.0,13826.500000,NaN,649.815669,13549.970000,15015.628805,NaN
16,13773.296058,1490,1376.829440,NaN,0,0,16,0.0,13720.500000,NaN,649.815669,13497.830136,14957.849132,NaN
17,13756.992198,1491,1376.829440,NaN,0,0,17,0.0,13724.500000,NaN,649.815669,13481.852354,14940.143081,NaN
18,13756.992198,1553,1335.524557,2.315943,0,0,18,4.0,13481.852354,-41.3049,1949.447008,13481.852354,14940.143081,NaN
19,13445.000000,1554,1335.524557,NaN,0,0,19,0.0,13445.000000,NaN,630.321199,13176.100000,14601.318431,NaN
20,13464.471759,1555,1335.524557,NaN,0,0,20,0.0,13484.000000,NaN,630.321199,13195.182324,14622.464832,NaN
21,13496.164602,1556,1335.524557,NaN,0,0,21,0.0,13560.000000,NaN,630.321199,13226.241310,14656.883373,NaN
22,13496.164602,1561,1295.458820,2.246465,0,0,22,4.0,13226.241310,-40.0657,1890.963598,13226.241310,14656.883373,NaN
23,13308.000000,1562,1295.458820,NaN,0,0,23,0.0,13308.000000,NaN,611.411563,13041.840000,14452.535938,NaN
24,13338.181396,1563,1295.458820,NaN,0,0,24,0.0,13368.500000,NaN,611.411563,13071.417768,14485.313042,NaN
25,13357.730127,1564,1295.458820,NaN,0,0,25,0.0,13397.000000,NaN,611.411563,13090.575524,14506.543034,NaN
26,13357.730127,1696,1450.913879,2.295732,0,0,26,5.0,14506.543034,155.4551,1834.234690,13090.575524,14506.543034,NaN
27,15490.500000,1746,1450.913879,NaN,0,0,27,0.0,15490.500000,NaN,684.780951,15180.690000,16822.738799,NaN
28,15493.249512,1759,1450.913879,NaN,0,0,28,0.0,15496.000000,NaN,684.780951,15183.384522,16825.724779,NaN
29,15496.997860,1767,1450.913879,NaN,0,0,29,0.0,15504.500000,NaN,684.780951,15187.057903,16829.795499,NaN
30,15496.997860,1808,1407.386462,2.440559,0,0,30,4.0,15187.057903,-43.5274,2054.342852,15187.057903,16829.795499,NaN
31,15218.500000,1809,1407.386462,NaN,0,0,31,0.0,15218.500000,NaN,664.237522,14914.130000,16527.345819,NaN
32,15295.359855,1810,1407.386462,NaN,0,0,32,0.0,15373.000000,NaN,664.237522,14989.452658,16610.815899,NaN
33,15298.072274,1811,1407.386462,NaN,0,0,33,0.0,15303.500000,NaN,664.237522,14992.110829,16613.761596,NaN
34,15298.072274,1813,1365.164868,2.367343,0,0,34,4.0,14992.110829,-42.2216,1992.712567,14992.110829,16613.761596,NaN
35,14950.500000,1814,1365.164868,NaN,0,0,35,0.0,14950.500000,NaN,644.310397,14651.490000,16236.296854,NaN
36,14878.403999,1815,1365.164868,NaN,0,0,36,0.0,14807.000000,NaN,644.310397,14580.835919,16158.000337,NaN
37,14878.403999,1815,1337.861571,1.530882,0,0,37,4.0,14580.835919,-27.3033,1288.620793,14580.835919,16158.000337,NaN
38,14649.500000,1816,1337.861571,NaN,0,0,38,0.0,14649.500000,NaN,631.424189,14356.510000,15909.409770,NaN
39,14693.368241,1817,1337.861571,NaN,0,0,39,0.0,14737.500000,NaN,631.424189,14399.500876,15957.050838,NaN
40,14741.264521,1818,1337.861571,NaN,0,0,40,0.0,14838.000000,NaN,631.424189,14446.439231,16009.066370,NaN
41,14741.264521,2035,1498.404959,2.370876,0,0,41,5.0,16009.066370,160.5434,1894.272566,14446.439231,16009.066370,NaN
42,15933.000000,2037,1498.404959,NaN,0,0,42,0.0,15933.000000,NaN,707.195091,15614.340000,17303.295393,NaN
43,16068.832047,2086,1498.404959,NaN,0,0,43,0.0,16207.000000,NaN,707.195091,15747.455406,17450.809486,NaN
44,16124.828356,2092,1498.404959,NaN,0,0,44,0.0,16238.000000,NaN,707.195091,15802.331789,17511.621679,NaN
45,16124.828356,2131,1453.452811,2.520443,0,0,45,4.0,15802.331789,-44.9521,2121.585274,15802.331789,17511.621679,NaN
46,15799.500000,2132,1453.452811,NaN,0,0,46,0.0,15799.500000,NaN,685.979239,15483.510000,17158.313912,NaN
47,15859.769215,2133,1453.452811,NaN,0,0,47,0.0,15920.500000,NaN,685.979239,15542.573831,17223.766497,NaN
48,15851.337187,2134,1453.452811,NaN,0,0,48,0.0,15834.500000,NaN,685.979239,15534.310443,17214.609284,NaN
49,15851.337187,2287,1627.867148,2.575719,0,0,49,5.0,17214.609284,174.4143,2057.937716,15534.310443,17214.609284,NaN

In [45]:
pd.DataFrame(cart).T

                                               0
leverage                                     NaN
max_equity_risk_pct                          3.0
max_equity_risk_value                        NaN
risk_rewards                                 4.0
size_pct                                     1.0
size_value                                   NaN
sl_pcts                                      2.0
sl_prices                                    NaN
sl_to_be                                    True
sl_to_be_based_on                            1.0
sl_to_be_then_trail                        False
sl_to_be_trail_by_when_pct_from_avg_entry    NaN
sl_to_be_when_pct_from_avg_entry           300.0
sl_to_be_zero_or_entry                       0.0
tp_pcts                                      NaN
tp_prices                                    NaN
tsl_based_on                                 NaN
tsl_pcts                                     NaN
tsl_prices                                   NaN
tsl_trail_by_pct                             NaN
tsl_true_or_false                          False
tsl_when_pct_from_avg_entry                  NaN