In [1]:
# Disable Cache
import os, sys
sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"
os.environ["NUMBA_DEBUGINFO"] = "1"
os.environ["NUMBA_DEBUG"] = "1"
os.environ["NUMBA_DEVELOPER_MODE"] = "1"
os.environ["NUMBA_SHOW_HELP"] = "1"

import quantfreedom as qf
import pandas as pd
from numba import literal_unroll, njit
from quantfreedom.backtester.nb.simulate import simulate_from_signals
from quantfreedom.backtester.base.base import rsi_below_entries
from quantfreedom.backtester.enums.enums import (
    LeverageMode, 
    SizeType,
    OrderType,
    SL_BE_or_Trail_BasedOn,
    )
# qf.clear_cache()

prices = pd.read_csv('30min.csv', index_col='time')
entries = rsi_below_entries(
    timeperiods=[20],
    below_ranges=[50],
    prices=prices.close
)

In [2]:
df, order_rec, cart = simulate_from_signals(
    open_prices=prices.open.values,
    high_prices=prices.high.values,
    low_prices=prices.low.values,
    close_prices=prices.close.values,
    entries=entries.values,
    equity=1000.,
    fee_pct=.06,
    mmr=.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=3.,
    risk_rewards=[4],
    size_pct=1.,
    sl_pcts=[2],
    # gains_pct_filter=100,
    sl_to_be=True,
    sl_to_be_based_on=SL_BE_or_Trail_BasedOn.high_price,
    sl_to_be_zero_or_entry=0,
    sl_to_be_when_pct_from_avg_entry=2,
)

In [3]:
pd.DataFrame(df)

,or_set,ind_set,total_trades,total_BE,gains_pct,win_rate,to_the_upside,total_fees,total_pnl,ending_eq
0,0,0,201.0,56,67.960021,19.31,0.010858,NaN,679.6,1679.600209

In [4]:
pd.DataFrame(order_rec).head(50)

,avg_entry,bar,equity,fees_paid,ind_set,or_set,order_id,order_type,price,real_pnl,size_value,sl_prices,tp_prices,tsl_prices
0,10850.000000,31,1000.000,NaN,0,0,0,0.0,10850.000000,NaN,471.965263,10633.000000,11783.139083,NaN
1,10787.137891,32,1000.000,NaN,0,0,1,0.0,10725.000000,NaN,471.965263,10571.395133,11714.870607,NaN
2,10787.137891,32,980.000,1.121389,0,0,2,4.0,10571.395133,-20.000,943.930527,10571.395133,11714.870607,NaN
3,10577.500000,33,980.000,NaN,0,0,3,0.0,10577.500000,NaN,462.525958,10365.950000,11487.203102,NaN
4,10550.179617,34,980.000,NaN,0,0,4,0.0,10523.000000,NaN,462.525958,10339.176024,11457.533067,NaN
5,10538.761751,35,980.000,NaN,0,0,5,0.0,10516.000000,NaN,462.525958,10327.986516,11445.133223,NaN
6,10538.761751,220,980.000,NaN,0,0,6,11.0,NaN,NaN,NaN,10551.415857,11445.133223,NaN
7,10538.761751,278,980.000,1.666093,0,0,7,4.0,10551.415857,-0.000,1387.577874,10551.415857,11445.133223,NaN
8,10578.000000,279,980.000,NaN,0,0,8,0.0,10578.000000,NaN,462.525958,10366.440000,11487.746104,NaN
9,10575.249285,280,980.000,NaN,0,0,9,0.0,10572.500000,NaN,462.525958,10363.744299,11484.758817,NaN
10,10574.499417,281,980.000,NaN,0,0,10,0.0,10573.000000,NaN,462.525958,10363.009429,11483.944458,NaN
11,10574.499417,365,980.000,NaN,0,0,11,11.0,NaN,NaN,NaN,10587.196434,11483.944458,NaN
12,10574.499417,438,1097.600,1.736695,0,0,12,5.0,11483.944458,117.600,1387.577874,10587.196434,11483.944458,NaN
13,11356.000000,478,1097.600,NaN,0,0,13,0.0,11356.000000,NaN,518.029073,11128.880000,12332.656906,NaN
14,11334.208263,479,1097.600,NaN,0,0,14,0.0,11312.500000,NaN,518.029073,11107.524097,12308.991001,NaN
15,11323.953653,480,1097.600,NaN,0,0,15,0.0,11303.500000,NaN,518.029073,11097.474580,12297.854458,NaN
16,11323.953653,559,1097.600,NaN,0,0,16,11.0,NaN,NaN,NaN,11337.550555,12297.854458,NaN
17,11323.953653,603,1097.600,1.866024,0,0,17,4.0,11337.550555,0.000,1554.087219,11337.550555,12297.854458,NaN
18,11364.500000,604,1097.600,NaN,0,0,18,0.0,11364.500000,NaN,518.029073,11137.210000,12341.887937,NaN
19,11374.241642,605,1097.600,NaN,0,0,19,0.0,11384.000000,NaN,518.029073,11146.756809,12352.467395,NaN
20,11381.651428,606,1097.600,NaN,0,0,20,0.0,11396.500000,NaN,518.029073,11154.018399,12360.514449,NaN
21,11381.651428,712,1097.600,NaN,0,0,21,11.0,NaN,NaN,NaN,11395.317609,12360.514449,NaN
22,11381.651428,728,1097.600,1.866024,0,0,22,4.0,11395.317609,0.000,1554.087219,11395.317609,12360.514449,NaN
23,11277.500000,729,1097.600,NaN,0,0,23,0.0,11277.500000,NaN,518.029073,11051.950000,12247.405623,NaN
24,11278.249950,730,1097.600,NaN,0,0,24,0.0,11279.000000,NaN,518.029073,11052.684951,12248.220072,NaN
25,11292.629870,731,1097.600,NaN,0,0,25,0.0,11321.500000,NaN,518.029073,11066.777273,12263.836717,NaN
26,11292.629870,864,1097.600,NaN,0,0,26,11.0,NaN,NaN,NaN,11306.189162,12263.836717,NaN
27,11292.629870,968,1229.312,1.945099,0,0,27,5.0,12263.836717,131.712,1554.087219,11306.189162,12263.836717,NaN
28,12986.500000,1056,1229.312,NaN,0,0,28,0.0,12986.500000,NaN,580.192562,12726.770000,14103.385779,NaN
29,12954.923408,1057,1229.312,NaN,0,0,29,0.0,12923.500000,NaN,580.192562,12695.824940,14069.093487,NaN
30,12944.766370,1058,1229.312,NaN,0,0,30,0.0,12924.500000,NaN,580.192562,12685.871043,14058.062907,NaN
31,12944.766370,1159,1229.312,NaN,0,0,31,11.0,NaN,NaN,NaN,12960.309416,14058.062907,NaN
32,12944.766370,1163,1229.312,2.089947,0,0,32,4.0,12960.309416,-0.000,1740.577685,12960.309416,14058.062907,NaN
33,12962.500000,1164,1229.312,NaN,0,0,33,0.0,12962.500000,NaN,580.192562,12703.250000,14077.321693,NaN
34,12979.727075,1165,1229.312,NaN,0,0,34,0.0,12997.000000,NaN,580.192562,12720.132533,14096.030358,NaN
35,12994.948930,1166,1229.312,NaN,0,0,35,0.0,13025.500000,NaN,580.192562,12735.049951,14112.561348,NaN
36,12994.948930,1269,1229.312,NaN,0,0,36,11.0,NaN,NaN,NaN,13010.552231,14112.561348,NaN
37,12994.948930,1324,1229.312,2.089947,0,0,37,4.0,13010.552231,0.000,1740.577685,13010.552231,14112.561348,NaN
38,13063.500000,1325,1229.312,NaN,0,0,38,0.0,13063.500000,NaN,580.192562,12802.230000,14187.008057,NaN
39,13064.749880,1326,1229.312,NaN,0,0,39,0.0,13066.000000,NaN,580.192562,12803.454883,14188.365431,NaN
40,13100.799868,1327,1229.312,NaN,0,0,40,0.0,13173.500000,NaN,580.192562,12838.783871,14227.515848,NaN
41,13100.799868,1372,1229.312,NaN,0,0,41,11.0,NaN,NaN,NaN,13116.530267,14227.515848,NaN
42,13100.799868,1406,1229.312,2.089947,0,0,42,4.0,13116.530267,0.000,1740.577685,13116.530267,14227.515848,NaN
43,13180.000000,1407,1229.312,NaN,0,0,43,0.0,13180.000000,NaN,580.192562,12916.400000,14313.527476,NaN
44,13191.739534,1408,1229.312,NaN,0,0,44,0.0,13203.500000,NaN,580.192562,12927.904743,14326.276653,NaN
45,13225.321173,1409,1229.312,NaN,0,0,45,0.0,13293.000000,NaN,580.192562,12960.814750,14362.746434,NaN
46,13225.321173,1423,1229.312,NaN,0,0,46,11.0,NaN,NaN,NaN,13241.201087,14362.746434,NaN
47,13225.321173,1561,1229.312,2.089947,0,0,47,4.0,13241.201087,0.000,1740.577685,13241.201087,14362.746434,NaN
48,13308.000000,1562,1229.312,NaN,0,0,48,0.0,13308.000000,NaN,580.192562,13041.840000,14452.535938,NaN
49,13338.181396,1563,1229.312,NaN,0,0,49,0.0,13368.500000,NaN,580.192562,13071.417768,14485.313042,NaN

In [5]:
pd.DataFrame(cart).T

                                               0
leverage                                     NaN
max_equity_risk_pct                          3.0
max_equity_risk_value                        NaN
risk_rewards                                 4.0
size_pct                                     1.0
size_value                                   NaN
sl_pcts                                      2.0
sl_prices                                    NaN
sl_to_be                                    True
sl_to_be_based_on                            1.0
sl_to_be_then_trail                        False
sl_to_be_trail_by_when_pct_from_avg_entry    NaN
sl_to_be_when_pct_from_avg_entry           200.0
sl_to_be_zero_or_entry                       0.0
tp_pcts                                      NaN
tp_prices                                    NaN
tsl_based_on                                 NaN
tsl_pcts                                     NaN
tsl_prices                                   NaN
tsl_trail_by_pct                             NaN
tsl_true_or_false                          False
tsl_when_pct_from_avg_entry                  NaN